body {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  color: #000;
  font-size: 24px;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo,
    メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  line-height: 1.4;
  background: #fff;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'palt';
}

img {
  width: 100%;
}

#main {
  position: relative;
  display: block;
  width: 100%;
  margin: auto;
}
