%clearfix {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

%bg_txt_none {
  overflow: hidden;
  text-indent: -9999px;
}

%bonus-animation {
  transition: all 1s ease;
}

.nowrap {
  white-space: nowrap;
}

.transparent {
  opacity: 0;
}
