@charset "UTF-8";

@import 'partial/reset';
@import 'partial/module';
@import 'partial/layout';

body {
  background: #eee;
}

.title {
  font-size: 25px;
  font-weight: bold;
  // rootから指定する
  // background-image: url(/images/futsal.svg);
}
