@charset "UTF-8";

@use 'partial/reset';
@use 'partial/module';
@use 'partial/layout';

body {
  background: #eee;
}

.title {
  display: block;
  font-weight: bold;
  font-size: 25px;
}
